<h3><%= postagem.titulo %></h3>
<p>Categoria: <a href="" class="badge bg-primary"><%= postagem.categoria.nome %></a></p>

<hr>

<br>

<div class="card">
    <div class="card-box p-3">
        <%= postagem.conteudo %>
    </div>
</div>