<% if (locals.success_msg != "") { %>
    <div class="alert alert-success"><%= locals.success_msg %></div>
<% } %>

<% if (locals.error_msg != "") { %>
    <div class="alert alert-success"><%= locals.error_msg %></div>
<% } %>