<h2>Categorias</h2>
<small>Crie, consulte, edite ou exclua as categorias do blog.</small>
<hr>

<a href="categorias/adicionar"><button class="btn btn-outline-success">+ Adicionar Categoria</button></a>

<br>

<%= qtdCategorias %>